* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(242, 245, 245);
  font-family: monospace;
}

header {
  text-align: center;
  text-transform: uppercase;
}

.container {
  width: 450px;
  margin: 20px auto;
  max-width: 100%;
  display: grid;
}

.item {
  font-size: 20px;
  width: 200px;
  height: 35px;
  border-top: 0;
  border-left: 0;
  border-right: 0;
}

.formBasico {
  text-align: center;
  width: 450px;
  margin: 20px auto;
  gap: 8px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr) 30px;
  grid-template-areas:
    "a b"
    "c d"
    "enviar enviar";
}


.a {
  grid-area: a;
}

.b {
  grid-area: b;
}

.c {
  grid-area: c;
}

.d {
  grid-area: d;
}

.enviar {
  grid-area: enviar;
  text-align: center;
  padding-top: 8px;
}

.box {
  padding-top: 15px;
  width: 450px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr)40px;
}

/* calculadoraBásica */
.titulo {
  text-align: center;
  border: 1px solid black;
}

h1 {
  text-align: center;
  font-size: 40px;
}

.formIndex {
  width: 650px;
  min-height: 200px;
  border: 10px solid black;
  margin: 0 auto;
  text-align: center;
  padding: 3px;
}

.item2 {
  height: 30px;
  margin: 10px;
  width: 100%;
}

.item1 {
  font-size: 1rem;
}

#enviarDato {
  text-align: center;
}