* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Estilos generales
Son los estilos que aplica a todas las etiquetas

*/

body {
  background-color: rgb(91, 105, 105);
  font-family: monospace;
}

header {
  text-align: center;
  text-transform: uppercase;
}

h1 {
  text-align: center;
  font-size: 40px;
  text-transform: uppercase;
}

/* Estilos index.php */

.container {
  width: 450px;
  margin: 20px auto;
  max-width: 100%;
  display: grid;
}

.formIndex {
  width: 650px;
  min-height: 200px;
  margin: 0 auto;
  text-align: center;
  padding: 3px;
}


.item2 {
  height: 30px;
  margin: 10px;
  width: 100%;
}


/* Estilos formularioBasico.php */

.formBasico {
  text-align: center;
  width: 450px;
  margin: 20px auto;
  gap: 8px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr) 30px;
  grid-template-areas:
    "a b"
    "c d"
    "enviar enviar";
}


.a {
  grid-area: a;
}

.b {
  grid-area: b;
}

.c {
  grid-area: c;
}

.d {
  grid-area: d;
}

.enviar {
  grid-area: enviar;
  text-align: center;
  padding-top: 8px;
}

.box {
  padding-top: 15px;
  width: 450px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr)40px;
}

.item {
  font-size: 20px;
  width: 200px;
  height: 35px;
  border-top: 0;
  border-left: 0;
  border-right: 0;
}


/* Estilos de formulario calculadora */

.formCalculadora {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(4, 1fr);
  grid-template-areas:
    "frmCl1 frmCl2"
    "frmCl3 frmCl4"
    "frmCl5 frmCl6"
    "calcular calcular";



}

.frmCl1 {
  grid-area: frmCl1;
}


.frmCl2 {
  grid-area: frmCl2;
}

.frmCl3 {
  grid-area: frmCl3;
}

.frmCl4 {
  grid-area: frmCl4;
}


.frmCl5 {
  grid-area: frmCl5;
}


.frmCl6 {
  grid-area: frmCl6;
}

.calcular {
  grid-area: calcular;
  display: grid;
  justify-content: center;
  margin-top: 10px;
  height: 30px;
}

.item1 {
  font-size: 1rem;
  text-transform: uppercase;
}